{
  "extends": "@kalanyei/eslint-config",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "no-return-assign": "off",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "test/**",
          "tests/**",
          "spec/**",
          "**/__tests__/**",
          "test.js",
          "test-*.js",
          "**/*.test.js",
          "**/*.spec.js",
          "**/webpack.config.js",
          "**/webpack.*.js",
          "**/rollup.config.js",
          "**/gulpfile.js",
          "**/gulpfile.*.js",
          "**/Gruntfile",
          "**/*.dev.js",
          "**/stories.js",
          "app/utils/helpers/**/*.js"
        ],
        "optionalDependencies": false
      }
    ]
  }
}